*{
    font-family: 'Raleway', sans-serif;
}

html {
    display: block;
}

@media (max-width: 1200px) {
header{
    position: relative;
}
}

header {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
nav {
    flex-basis: 100%;
    order: 2;
    display: flex;
}
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: -30px;
}

ul{
    list-style: none;
}