*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: block;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.bloc-page {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body header {
        margin: 0;
    }

    body main {
        margin: 0;
    }
    
    body header {
        margin-top: 20px;
    }

    header img {
        margin-left: 20px;
    }

    header nav {
        position: relative;
    }

    header nav ul {
        width: 100%;
        text-align: center;
    }

    header nav ul li {
        width: 50%;
        text-align: center;
        padding: 10px 0 10px 8%;
        border-bottom: solid 2.5px #f2f2f2;
    }

    header nav ul li:hover {
        border-bottom: solid 2.5px #0065fc;
    }

    header nav ul li a:hover {
        border-top: none;
    }

    header nav ul .li-heb a {
        padding: 0 20px 15px 0;
    }

    header nav ul .li-act a {
        padding: 0 20px 15px 0;
    }

    nav p {
        position: absolute;
        top: -45px;
        margin-right: 10px;
    }

    .recherche {
        margin: 20px;
    }

    .surtitre {
        text-align: center;
    }

    .surtitre h2 {
        margin-bottom: 5px;
    }

    .surtitre p {
        font-size: 14px;
        margin: 10px 20px;
    }

    .search {
        margin-top: 35px;
        justify-content: center;
    }

    .search .marker {
        width: 51px;
    }

    .search .fa-map-marker-alt {
        padding: 16.5px 20px;
    }

    .search .city {
        width: 220px;
    }

    .search .btnsearch {
        width: 51px;
        height: 51px;
        border-radius: 10px;
    }

    .btnsearch span {
        display: none;
    }

    .search .btnsearch .fa-search {
        display: block;
        visibility: visible;
        color: white;
    }

    .filtres {
        margin: 20px;
        width: 100%;
    }

    .filtres h3 {
        flex-basis: 100%;
    }
    
    main .filtres a {
        margin: 0 10px 12px 0;
    }

    small {
        margin: 0 20px;
    }

    .marseille .conteneur1 {
        flex-direction: column-reverse;
        max-height: none;
    }

    .conteneur3 .cardlink {
        margin: 6px 0;
    }

    .cardlink .card {
        border-radius: 20px;
    }

    .cardlink .imgpopular {
        width: 135px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .cardlink .card-title {
        padding-left: 15px;
    }


    .cardlink .cardpopular {
        width: 350px;
    }

    .conteneur3 .imgmain {
        width: 305px;
    }

    .conteneur1 .conteneur2 {
        margin: 0;
        background: none;
    }

    .conteneur2 .more {
        margin-top: 13px;
    }

    .conteneur1 .popular {
        padding: 20px 20px;
        width: auto;
        border-radius: 0;
        margin: 0;
    }

    main .activites {
        margin: 30px 0;
    }

    .activites h2{
        margin-left: 50px;
    }

    .activites .content {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }

    .content .activity-link {
        margin: 12px 0;
    }

    .content .pic-activity {
        height: 134px;
    }

    footer {
        padding: 15px;
    }

    footer .footercontent {
        flex-direction: column;
    }

    footer .footercontent div {
        margin: 0 0 0 20px;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 481px) and (max-width:757px){
    body header {
        margin: 0;
    }

    body main {
        margin: 0;
    }
    
    body header {
        margin-top: 20px;
    }

    header img {
        margin-left: 20px;
    }

    header nav {
        position: relative;
    }

    header nav ul {
        width: 100%;
        text-align: center;
    }

    header nav ul li {
        width: 50%;
        text-align: center;
        padding: 10px 0 10px 8%;
        border-bottom: solid 2.5px #f2f2f2;
    }

    header nav ul li:hover {
        border-bottom: solid 2.5px #0065fc;
    }

    header nav ul li a:hover {
        border-top: none;
    }

    header nav ul .li-heb a {
        padding: 0 20px 15px 0;
    }

    header nav ul .li-act a {
        padding: 0 20px 15px 0;
    }

    nav p {
        position: absolute;
        top: -45px;
        margin-right: 10px;
    }

    .recherche {
        margin: 20px;
    }

    .surtitre {
        text-align: center;
    }

    .surtitre h2 {
        margin-bottom: 5px;
    }

    .surtitre p {
        font-size: 14px;
        margin: 10px 20px;
    }

    .search {
        margin-top: 35px;
        justify-content: center;
    }

    .search .city {
        width: 190px;
    }

    .search .btnsearch {
        width: 51px;
        height: 51px;
        border-radius: 10px;
    }

    .btnsearch span {
        display: none;
    }

    .search .btnsearch .fa-search {
        display: block;
        visibility: visible;
        color: white;
    }

    .filtres {
        margin: 20px;
        width: 100%;
    }

    .filtres h3 {
        flex-basis: 100%;
    }
    
    main .filtres a {
        margin: 0 10px 12px 0;
    }

    small {
        margin: 0 20px;
    }

    .marseille .conteneur1 {
        flex-direction: column-reverse;
        max-height: none;
    }

    .conteneur3 .cardlink {
        margin: 6px 0;
    }

    .conteneur3 .imgmain {
        width: 305px;
    }

    .conteneur1 .conteneur2 {
        margin: 0;
        background: none;
    }

    .conteneur2 .more {
        margin-top: 13px;
    }

    .conteneur1 .popular {
        padding: 40px 20px;
        width: auto;
        border-radius: 0;
        margin: 0;
    }

    main .activites {
        margin: 30px 0;
    }

    .activites h2{
        margin-left: 50px;
    }

    .activites .content {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }

    .content .activity-link {
        margin: 12px 0;
    }

    .content .pic-activity {
        height: 134px;
    }

    footer {
        padding: 15px;
    }

    footer .footercontent {
        flex-direction: column;
    }

    footer .footercontent div {
        margin: 0 0 0 20px;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 758px) and (max-width: 768px){
    header {
        display: flex;
    }

    .surtitre {
        text-align: center;
    }

    .recherche .search {
        justify-content: center;
        margin: 30px 0;
    }

    .filtres {
        margin: 18px;
        width: 100%;
    }

    .filtres h3 {
        flex-basis: 100%;
    }

    .filtres a {
        margin-bottom: 10px;
    }

    .conteneur1 .conteneur2 {
        overflow: scroll;
        margin-right: 0;
    }

    .conteneur1 .conteneur2 h2 {
        padding-left: 40px;
    }

    .popular {
        justify-content: center;
    }

    .activites .content {
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
    }

    .content .activity-link {
        margin: 12px;
    }

    .card-activity .pic-activity {
        height: 140px;
    }

    footer .footercontent div {
        margin-right: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    header {
        display: flex;
    }

    .recherche {
        display: flex;
    }

    .recherche .search {
        flex: 1;
        justify-content: flex-end;
        margin-bottom: 5%;
    }

    .search .city {
        width: 190px;
    }

    .search .btnsearch {
        width: 51px;
        height: 51px;
        border-radius: 0 10px 10px 0;
    }

    .btnsearch span {
        display: none;
    }

    .search .btnsearch .fa-search {
        display: block;
        visibility: visible;
        color: white;
    }

    .filtres {
        margin: 20px;
        width: 100%;
    }

    .conteneur1 .conteneur2 {
        overflow: scroll;
        margin-right: 0;
    }

    .popular {
        justify-content: center;
    }

    .activites .content {
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
    }

    .content .activity-link {
        margin: 12px;
    }

    .card-activity .pic-activity {
        height: 140px;
    }

    footer .footercontent {
        justify-content: start;
    }

    footer .footercontent div {
        margin-right: 160px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1350px){
    .conteneur1 .conteneur2 {
        overflow: scroll;
        margin-right: 0;
    }

    .activites .content {
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
    }

    .content .activity-link {
        margin: 12px;
    }

    .card-activity .pic-activity {
        height: 140px;
    }

    footer .footercontent {
        justify-content: start;
    }

    footer .footercontent div {
        margin-right: 160px;
        margin-left: 20px;
    }
}

header, main {
    margin: 0 30px;
}

@media screen and (min-width: 1025px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }  
}

header {
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 10px;
}

nav li {
    padding-left: 30px;
    float: left;
    list-style-type: none;
}

nav li a {
    color: black;
    text-decoration: none;
    transition: all 0.4s;
}

nav ul li a:hover{
    border-top: solid 1px #0065fc;
    padding-top: 29px;
    color: #0065fc;
}

header nav p {
    margin-left: 35px;
    padding-right: 10px;
    font-size: 1rem;
}

.inscrire{
    font-weight: bold;
    color: #0065fc;
    transition: all 0.4s;
}

.inscrire:hover {
    border-top: solid 1px #0065fc;
    padding-top: 29px;
}

h2{
    font-size: 1.25rem;
    margin-bottom: 5px;
}

p{
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.search {
    display: flex;
    margin-bottom: 3%;
}

.fa-map-marker-alt {
    padding: 16.5px 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.city {
    width: 234px;
    height: 51px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.btnsearch {
    background: transparent;
    width: 130px;
    height: 51px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 1%;
}

.btnsearch:hover {
    color: #0065fc;
    background-color: #e5e3ff;
    border: 1px solid #0065fc;
    cursor: pointer;
}

.btnsearch .fa-search {
    display: none;
}

.filtres {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 {
    font-size: 1.06rem;
    font-weight: bold;
}

.filtres h3 {
    margin-right: 32px;
    padding: 15px 0 15px 5px;
}

.filtres a {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #f2f2f2;
    color: black;
    border-radius: 50px;
    background: none;
    padding: 0 20px 0 0;
    margin-right: 25px;
    outline: none;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.filtres .icon {
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: -2px;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    background-color: #deebff;
    border-radius: 50px;
    color: #0065fc;
    list-style: none;
    text-decoration: none;
}

.filtres a:hover{
    background-color: #023e8a;
    color: #ffd60a;
}

.marseille {
    margin-bottom: 20px;
}

.marseille small {
    font-size: 0.75rem;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.marseille span {
    text-align: center;
}

.fa-info {
    height: 22px;
    width: 22px;
    color: #0065fc;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 50px;
    align-items: center;
    padding-top: 5px;
    margin-right: 12px;
}

.conteneur1 {
    display: flex;
    justify-content: space-between;
    max-height: 630px;
}

.conteneur2 {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    padding: 40px 0;
    margin-right: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.conteneur2 h2 {
    padding-left: 50px;
}

.conteneur3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0;
}

.cardlink {
    margin: 15px 5px 20px 5px;
}

.cardmain {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 25%);
    padding: 5px 5px 10px 5px;
    transition: all 1s ease-in-out;
}

.cardmain:hover {
    box-shadow: 15px 15px 13px 5px rgba(0, 0, 0, 25%);
}

.imgmain {
    width: 236px;
    height: 114px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cannebiere {
    background-image:url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.hotelPort {
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.hotelMouettes {
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.hotelMer {
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.aubergePanier {
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.hotelAmina {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

.cardmain h4 {
    padding-left: 12px;
    margin: 5px 0 0 0;
}

.cardmain p {
    font-size: 0.8rem;
    padding-left: 12px;
    margin: 6px 0;
}

.cardmain .star {
    padding-left: 12px;
    color: #0065fc;
}

.fa-star {
    font-size: 0.75em;
}

.more {
    font-size: 1.06rem;
    font-weight: bold;
    padding-left: 40px;
    text-decoration: none;
    color: black;
}

.popular {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    margin-left: 30px;
    padding: 40px 20px 0 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.popular .conteneur4 {
    flex-direction: column;
}

.conteneur4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0;
}

.fa-chart-line {
    margin-left: 75px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 25%);
}

.cardpopular {
    display: flex;
    width: 300px;
    height: 134px;
    padding: 5px;
    transition: all 1s ease-in-out;
}

.card:hover {
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 25%);
}

.imgpopular {
    width: 127px;
    height: 125px;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.hotelSoleil {
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

.chambreCoeurEau {
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

.hotelBleuBlanc {
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

.card-title {
    padding-left: 12px;
}

.card-title h4 {
    margin: 2px 0 0 0;
}

.card-title p{
    margin-bottom: 25%;
}

.card-title .star {
    color: #0065fc;
}

.activites {
    margin: 62px 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 446px;
    margin-top: 24px;
}

.card-activity {
    border-radius: 10px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 25%);
    transition: all 1s ease-in-out;
}

.card-activity:hover {
    box-shadow: 10px 10px 11px 3px rgba(0, 0, 0, 25%);
}

.pic-activity {
    width: 315px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.act1 {
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    height: 403px;
}

.act2 {
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    height: 195px;
}

.act3 {
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    height: 120px;
}

.act4 {
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    height: 403px;
}

.act5 {
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    height: 150px;
}

.act6 {
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    height: 165px;
}

.card-activity h4 {
    padding: 12px 22px;
    margin: 0;
}

footer {
    width: 100%;
    background-color: #f2f2f2;
}

.footercontent {
    margin: auto;
    display: flex;
    justify-content: space-around;
    max-width: 1480px;
}

.footercontent div {
    margin-right: 230px;
    padding-bottom: 30px;
}

footer h3 {
    padding: 45px 0 10px 0;
}

footer ul {
    list-style: none;
}

footer ul li {
    font-size: 1.06rem;
    padding: 5px 0;
}